html{
    /* background: url(background.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(background.jpg);
    height: 100%;

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
span{
    color: red;
    font-weight: bold;
}
.container {
    padding-top: 30px;
    padding: 3em;
    padding: 1rem;
    width: auto;
    max-width: 600px;
    height: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.362);
    border-radius: 20px;
    background: #00000083;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 2px black;
    text-decoration-style: solid;
}
.contianer .form-group{
    padding-bottom: 15px;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* input{
    height: 40px;
} */
#sel{
    width: 370px;
    height: 35px;
    margin: auto;
}


